
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
*.csv
Anaconda3-2024.10-1-Linux-x86_64.sh
.code-workspace/
.venv/
*.sh
./02-workflow-orchestration-airflow/airflow/google/playground.json
./02-workflow-orchestration-airflow/airflow/google/*.json
.02-workflow-orchestration-airflow/airflow/google/playground.json
playground.json
**playground.json